table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead th {
    color: black;
    font-weight: bold;
  }
  
  tbody td, tbody th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .title-name {
    width: 10%;
    font-weight: 700;
  }

  .desc-name {
    width: 65%;
  }